[data-target] {
	cursor: pointer;
}

[aria-busy="true"] {
	cursor: progress;
}

[aria-controls] {
	cursor: pointer;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
textarea {
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 8px;
}

[type="text"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
[type="url"]:hover,
[type="email"]:hover,
[type="password"]:hover,
textarea:hover {
	outline: none;
}

[type="text"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
	border-color: #ccc;
}

button,
[type="button"],
[type="submit"] {
	background-color: #666;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	width: auto;
}

button:hover,
[type="button"]:hover,
[type="submit"]:hover {
	opacity: 0.7;
	outline: none;
}

[type="radio"] {
	display: none;
}

[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

[type="radio"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

[type="radio"]:checked + span::after {
	background: #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

[type="checkbox"] {
	display: none;
}

[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

[type="checkbox"]:checked + span::after {
	border-bottom: 4px solid #666;
	border-left: 4px solid #666;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	border: 1px solid #ccc;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #ccc;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #333;
	font-family: "Noto Sans JP", sans-serif, Meiryo, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1000px;
}

.p-entry-content {
	overflow: hidden;
}

.p-entry-content > :first-child() {
	margin-top: 0;
}

.p-entry-content > :last-child() {
	margin-bottom: 0;
}

.p-entry-content h2 + p,
.p-entry-content h3 + p,
.p-entry-content h4 + p,
.p-entry-content h5 + p,
.p-entry-content h6 + p {
	margin-top: 0;
}

.p-entry-content h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry-content h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry-content h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content p {
	line-height: 1.6;
	margin-bottom: 0.8em;
	margin-top: 1.2em;
}

.p-entry-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry-content ul ul,
.p-entry-content ul ol {
	margin-bottom: 0;
}

.p-entry-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry-content ol ul,
.p-entry-content ol ol {
	margin-bottom: 0;
}

.p-entry-content li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.p-entry-content blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.p-entry-content blockquote > :first-child {
	margin-top: 0;
}

.p-entry-content blockquote > :last-child {
	margin-bottom: 0;
}

.p-entry-content q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.p-entry-content strong,
.p-entry-content em,
.p-entry-content b {
	font-style: normal;
	font-weight: 700;
}

.p-entry-content a {
	text-decoration: underline;
	transition: opacity 0.3s ease 0s;
}

.p-entry-content a:hover {
	opacity: 0.7;
}

.p-entry-content img {
	vertical-align: middle;
}

.p-entry-content dl {
	margin-top: 1em;
}

.p-entry-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.p-entry-content var,
.p-entry-content code,
.p-entry-content kbd {
	background: #fee;
	color: #666;
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.p-entry-content pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.p-entry-content pre code {
	background: #2d2d2d;
	color: #fff;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.p-entry-content iframe,
.p-entry-content video,
.p-entry-content object {
	max-width: 100%;
}

.test {
	color: red;
	font-size: 1.25rem;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.wp-block-image figcaption {
	font-size: 13px;
}

a.wp-block-button__link {
	margin: 1em 0;
	text-decoration: none;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.7;
}

.wp-caption-text {
	font-size: 14px;
	margin-top: 4px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
}

.gallery-icon a {
	text-decoration: none;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.p-widget {
	margin-bottom: 46px;
}

.p-widget:last-child {
	margin-bottom: 0;
}

.p-widget ul {
	font-size: 16px;
	padding: 0 8px;
}

.p-widget li {
	font-size: inherit;
	margin-bottom: 12px;
}

.p-widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.p-widget li a:hover {
	opacity: 0.7;
}

.p-widget li ul {
	font-size: 0.85em;
	margin-top: 12px;
}

.p-widget__title {
	background: transparent;
	border-bottom: 1px solid #666;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 12px;
	padding: 8px 6px;
}

#wp-calendar caption {
	margin-bottom: 4px;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #666;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.7;
}

.gallery-item {
	padding: 0 4px;
	text-align: center;
}

.gallery-item a {
	transition: opacity 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.7;
}

.gallery-caption {
	font-size: 14px;
	margin-top: 4px;
}

.gallery-columns-3 {
	display: flex;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333333%;
}

.widget_meta abbr {
	text-decoration: none;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.7;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.tagcloud {
	padding: 4px;
}

.tag-cloud-link {
	transition: opacity 0.3s ease 0s;
}

.tag-cloud-link:hover {
	opacity: 0.7;
}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.l-inner {
	padding-left: 16px;
	padding-right: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.6vw;
}

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.test {
	color: green;
	font-size: 3.125rem;
}

}

@media (min-width: 1000px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1000px) {

.test {
	color: blue;
}

.test {
	color: brown;
}

.u-hidden-pc {
	display: none;
}

}

