.c-hamburger {
  z-index:9999;
}

.c-hamburger span {

  position: relative;
  display: block;
  height: 2px;
  width: 22px;
  background: #fff;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: 4px 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/* OPEN時の動き */
.c-hamburger.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

